* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f2f5; 
    padding: 20px;
}

.container {
    position: relative;
    max-width: 1000px; 
    width: 100%;
    background: #fff;
    height: 550px;
    box-shadow: 0 10px 25px rgb(0, 74, 164);
    perspective: 2000px;
    border-radius: 12px;
    overflow: hidden;
}

#flip {
    display: none;
}

.cover {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 100;
    transform-origin: left;
}


#flip:checked ~ .cover {
    transform: rotateY(-180deg);
}

.cover .front,
.cover .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cover .back {
    transform: rotateY(180deg);
}

.cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}


.cover .text {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(42, 71, 235, 0.15); 
    padding: 0 40px;
    color: #fff;
    text-align: center;
}

.cover .text span {
    font-weight: 600;
    text-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.text-1, .text-3 { font-size: 26px; margin-bottom: 10px; }
.text-2, .text-4 { font-size: 16px; font-weight: 300 !important; }


.form-container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
}

.login-form, .signup-form {
    width: 50%;
    padding: 40px 60px;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    display: inline-block;
}


.title::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #1b2d95;
    margin-top: 5px;
}

.input-boxes {
    margin-top: 10px;
}

.input-box {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #ddd;
    padding-left: 35px;
    font-size: 16px;
    transition: 0.3s;
}

.input-box input:focus {
    border-color: #1b2d95;
}

.input-box i {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    color: #1b2d95;
    font-size: 18px;
}

.button {
    margin-top: 40px;
}

.button input {
    width: 100%;
    height: 50px;
    background: #1b2d95;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.button input:hover {
    background: #15247a;
}

.sign-up-text, .login-text {
    margin-top: 25px;
    font-size: 14px;
    color: #333;
}

.sign-up-text label, .login-text label {
    color: #1b2d95;
    cursor: pointer;
    font-weight: 500;
}

.sign-up-text label:hover, .login-text label:hover {
    text-decoration: underline;
}